<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %}Café Perfeito - Login{% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static 'cafeperfeito/img/sistema/icon.iconset/icon_16x16.png' %}"
          type="image/png">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link href="{% static 'cafeperfeito/externo/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet">

    <!-- Our Custom CSS -->
    <link href="{% static 'cafeperfeito/style/css/ftpcafeperfeito.min.css' %}" type="text/css" rel="stylesheet"/>

    {#    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">#}

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <div class="card  text-center">
                <div class="card-header">
                    <h5 class="card-title">Login de sistema</h5>
                    <div>
                        <img class="circle responsive-img"
                             src="{% static 'cafeperfeito/img/sistema/logo.png' %}"
                             alt="logo.png">
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {#{{ form.as_p }}#}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" name="email" class="form-control" id="email"
                                   placeholder="Email" required autofocus>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" name="senha" class="form-control" id="password"
                                   placeholder="Password" required>
                        </div>
                        <div class="pretty p-icon p-toggle p-plain text-left">
                            <input type="checkbox" id="showPassword"/>
                            <div class="state p-success-o p-on">
                                <i class="material-icons md-14">visibility_off</i>
                                Esconder senha
                            </div>
                            <div class="state p-off">
                                <i class="material-icons md-14">visibility</i>
                                Mostrar senha
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary">Login</button>
                        </div>
                        {#                        <input type="file" accept="image/*" capture="camera-camera"/>#}
                    </form>
                </div>
                <div class="card-footer">
                    <!-- Footer -->
                    <p class="mt-5 mb-3 text-muted">Copyright © 2006 - {% now 'Y' %}</p>
                    {#                    <div>#}
                    {#                        It is {% now "SHORT_DATETIME_FORMAT" %}#}
                    {#                    </div>#}
                    <!-- #Footer -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery - Slim version (=without AJAX) -->
<script src="{% static 'cafeperfeito/externo/jQueryPopper/jquery-3.3.1.slim.min.js' %}" type="text/javascript"></script>

<!-- Popper.JS -->
<script src="{% static 'cafeperfeito/externo/jQueryPopper/popper.min.js' %}" type="text/javascript"></script>

<!-- Bootstrap JS -->
<script src="{% static 'cafeperfeito/externo/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

<!-- JQuery-mask CSS -->
<script src="{% static 'cafeperfeito/externo/jqueryMask/jquery.mask.min.js' %}" type="text/javascript"></script>

<!-- Our Custom CSS -->
<script src="{% static 'cafeperfeito/style/js/ftpcafeperfeito.js' %}" type="text/javascript"></script>

</body>

</html>